<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.compbbs.dao.CompBoardDAO">
	<select id="getBoardAllCount"
			resultType="_int">
		SELECT COUNT(1)
		  FROM COMPPOST
	</select>
	<select id="getAllCompBoardList"
			resultType="com.ktdsuniversity.edu.compbbs.vo.CompBoardVO">
		SELECT COMP_POST_ID
		     , POST_WRI_ID
		     , BOARD_ID
		     , POST_TITLE
		     , POST_CONT
		     , TO_CHAR(CRT_DT, 'YYYY-MM-DD') CRT_DT
		     , TO_CHAR(RECR_ST_DT, 'YYYY-MM-DD') RECR_ST_DT
		     , TO_CHAR(RECR_FIN_DT, 'YYYY-MM-DD') RECR_FIN_DT
		     , RECR_PROG_YN
		     , RECR_FORM
		     , MIN_EXP_YEAR
		     , MAX_EXP_YEAR
		     , VIEW_CNT
		     , LIKE_CNT
		     , DEL_YN
		 FROM COMPPOST
	</select>
	<insert id="createOneCompBoard"
			parameterType="com.ktdsuniversity.edu.compbbs.vo.CompBoardVO">
		INSERT INTO COMPANY_POST (
		  COMPANY_POST_ID
		, POST_WRITER_ID
		, BOARD_ID
		, POST_TITLE
		, POST_CONTENT
		, POST_DATE
		, RECRUIT_START_DATE
		, RECRUIT_END_DATE
		, RECRUIT_PROGRESS_YN
		, RECRUIT_TYPE
		, MIN_CAREER_YEAR
		, MAX_CAREER_YEAR
		, VIEW_CNT
		, LIKE_CNT
		, DELETE_YN
		, ALGORITHM_TIER_ID
		, ALGORITHM_PROGRESS_STATUS)
		VALUES (
		  'CP-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_COMPANY_POST_PK.NEXTVAL, 6, 0)
		, 1
		, 'CM-20231009-000002'
		, #{postTitle}
		, #{postCont}
		, SYSDATE
		, NULL
		, NULL
		, NULL
		, NULL
		, NULL
		, NULL
		, 0
		, 0
		, 'N'
		, 'HARD'
		, 'A')
	</insert>
</mapper>